/* 
    Document   : adrien
    Created on : 2 juin 2010, 22:46:37
    Author     : Mérouane Atig
    Description:
        Feuille de style du site de Adrien Muller
*/

root { 
    display: block;
}

body {
    background: url('../img/fond-repeat.png') repeat-x;
    padding: 0;
    margin: 0;
}

#left {
    float: left;
    width: 151px;
    height: 821px;
    background: url('../img/fond-gauche.png') no-repeat;
}

#main {
    width: 1217px;
    height: 686px;
    margin-left: 151px;
    margin-right: auto;
    background: url('../img/fond.png') no-repeat;
}

#header {
    height: 135px;
}


#logo {
    float: left;
    width: 655px;
    height: 135px;
    background: url('../img/header-logo.png') no-repeat;
}

#menu {
    float: left;
    margin-left: -322px;
}

#perso {
    color: red;
    list-style-type: none;
}

#perso li {
    display: inline
}

#perso a {
    float: left;
}

#perso a {
    width: 33px;
    height: 124px;
    background: url('../img/btn-perso-titre.png') no-repeat;
}

#rough a {
    width: 45px;
    height: 127px;
    background: url('../img/btn-perso-rough.png') no-repeat;
}

#illustrations a {
    width: 45px;
    height: 144px;
    background: url('../img/btn-perso-illustration.png') no-repeat;
}

#divers a {
    width: 42px;
    height: 136px;
    background: url('../img/btn-perso-divers.png') no-repeat;
}
