/* 
    Document   : adrien
    Created on : 2 juin 2010, 22:46:37
    Author     : Mérouane Atig
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}
body {
    background: url('../img/fond-repeat.png') repeat-x;
    padding: 0;
    margin: 0;
}

#left {
    float: left;
    width: 151px;
    height: 821px;
    background: url('../img/fond-gauche.png') no-repeat;
}

#main {
    width: 1217px;
    height: 686px;
    margin-left: 151px;
    margin-right: auto;
    background: url('../img/fond.png') no-repeat;
}

#header {
    height: 135px;
}

#menu {
	background: url('../img/perso.png') no-repeat;
	width: 33px;
	height: 124px;
        float: left;
        margin-left: -275px;
}

#logo {
    width: 655px;
    height: 135px;
    background: url('../img/header-logo.png') no-repeat;
    float: left;
}
